.game-loading-form__root {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.game-loading-form__labeltmp {
    position: absolute;
    left: 50%;
    margin-left: -503px;
    top: 50%;
    margin-top: -1158px;
    margin-right: 0;
    width: 200px;
    margin-bottom: 0;
    height: 50px;
    display: none;
    -unity-text-align: upper-left;
    font-size: 36px;
    color: rgba(255, 0, 0, 1.000);
    white-space: normal;
    -unity-font: url("../Fonts/pingfangsc-medium.ttf");
}
.game-loading-form__bankupdatehint {
    position: absolute;
    left: 0;
    margin-left: 0;
    top: 0;
    margin-top: 0;
    right: 0;
    margin-right: 0;
    bottom: 0;
    margin-bottom: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.400);
}
.game-loading-form__mobile-datainusepage {
    position: absolute;
    left: 50%;
    margin-left: -466.5px;
    top: 100%;
    margin-top: -1203px;
    margin-right: 0;
    width: 933px;
    margin-bottom: 0;
    height: 1083px;
    display: none;
    background-image: url("../Textures/LoadingForm/mobile-datainusepage.png");
    -unity-background-scale-mode: stretch-to-fill;
    -unity-background-image-tint-color: rgba(255, 255, 255, 1.000);
}
.game-loading-form__hinticon {
    position: absolute;
    left: 50%;
    margin-left: -128px;
    top: 50%;
    margin-top: -434px;
    margin-right: 0;
    width: 256px;
    margin-bottom: 0;
    height: 256px;
    background-image: url("../Textures/LoadingForm/hinticon.png");
    -unity-background-scale-mode: stretch-to-fill;
    -unity-background-image-tint-color: rgba(255, 255, 255, 1.000);
}
.game-loading-form__labeltitle {
    position: absolute;
    left: 50%;
    margin-left: -438px;
    top: 50%;
    margin-top: -105.24px;
    margin-right: 0;
    width: 876px;
    margin-bottom: 0;
    height: 76.48px;
    -unity-text-align: middle-center;
    font-size: 66px;
    color: rgba(0, 0, 0, 1.000);
    white-space: normal;
    -unity-font: url("../Fonts/pingfangsc-medium.ttf");
}
.game-loading-form__labelinfo {
    position: absolute;
    left: 50%;
    margin-left: -393.5px;
    top: 50%;
    margin-top: 31.54px;
    margin-right: 0;
    width: 765px;
    margin-bottom: 0;
    height: 114.92px;
    -unity-text-align: upper-left;
    font-size: 39px;
    color: rgba(0, 0, 0, 1.000);
    white-space: normal;
    -unity-font: url("../Fonts/pingfangsc-medium.ttf");
}
.game-loading-form__mobile-datainusepage-button {
    position: absolute;
    left: 50%;
    margin-left: -393.5px;
    top: 50%;
    margin-top: 374.6px;
    margin-right: 0;
    width: 765px;
    margin-bottom: 0;
    height: 90.8px;
    padding: 0;
    border-width: 0;
    min-width: 0;
    min-height: 0;
    background-color: rgba(0, 0, 0, 0);
    background-color: rgba(255, 255, 255, 1.000);
}
.game-loading-form__labeltmp2 {
    position: absolute;
    left: 0;
    margin-left: 0;
    top: 0;
    margin-top: 0;
    right: 0;
    margin-right: 0;
    bottom: 0;
    margin-bottom: 0;
    -unity-text-align: middle-center;
    font-size: 45px;
    color: rgba(0, 0, 0, 0.588);
    white-space: nowrap;
    translate: -50% -50%;
    -unity-font: url("../Fonts/pingfangsc-medium.ttf");
}
.game-loading-form__mobile-datainusepage-button2 {
    position: absolute;
    left: 50%;
    margin-left: -393.5px;
    top: 50%;
    margin-top: 204px;
    margin-right: 0;
    width: 765px;
    margin-bottom: 0;
    height: 156px;
    padding: 0;
    border-width: 0;
    min-width: 0;
    min-height: 0;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../Textures/LoadingForm/mobile-datainusepage-button2.png");
    -unity-background-scale-mode: stretch-to-fill;
    -unity-background-image-tint-color: rgba(255, 255, 255, 1.000);
}
.game-loading-form__labeltmp3 {
    position: absolute;
    left: 0;
    margin-left: 0;
    top: 0;
    margin-top: 0;
    right: 0;
    margin-right: 0;
    bottom: 0;
    margin-bottom: 0;
    -unity-text-align: middle-center;
    font-size: 50px;
    color: rgba(255, 255, 255, 1.000);
    white-space: nowrap;
    translate: -50% -50%;
    -unity-font: url("../Fonts/pingfangsc-medium.ttf");
}
.game-loading-form__filecorruptedpage {
    position: absolute;
    left: 50%;
    margin-left: -466.5px;
    top: 100%;
    margin-top: -1218px;
    margin-right: 0;
    width: 933px;
    margin-bottom: 0;
    height: 1113px;
    display: none;
    background-image: url("../Textures/LoadingForm/filecorruptedpage.png");
    -unity-background-scale-mode: stretch-to-fill;
    -unity-background-image-tint-color: rgba(255, 255, 255, 1.000);
}
.game-loading-form__labeltitle2 {
    position: absolute;
    left: 50%;
    margin-left: -169.52px;
    top: 50%;
    margin-top: -138.24px;
    margin-right: 0;
    width: 339.04px;
    margin-bottom: 0;
    height: 76.48px;
    -unity-text-align: middle-center;
    font-size: 66px;
    color: rgba(0, 0, 0, 1.000);
    white-space: normal;
    -unity-font: url("../Fonts/pingfangsc-medium.ttf");
}
.game-loading-form__labelinfo2 {
    position: absolute;
    left: 50%;
    margin-left: -393.5px;
    top: 50%;
    margin-top: -18.46px;
    margin-right: 0;
    width: 765px;
    margin-bottom: 0;
    height: 114.92px;
    -unity-text-align: upper-center;
    font-size: 39px;
    color: rgba(0, 0, 0, 1.000);
    white-space: normal;
    -unity-font: url("../Fonts/pingfangsc-medium.ttf");
}
.game-loading-form__filecorruptedpage-button {
    position: absolute;
    left: 50%;
    margin-left: -393.5px;
    top: 50%;
    margin-top: 204px;
    margin-right: 0;
    width: 765px;
    margin-bottom: 0;
    height: 156px;
    padding: 0;
    border-width: 0;
    min-width: 0;
    min-height: 0;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../Textures/LoadingForm/filecorruptedpage-button.png");
    -unity-background-scale-mode: stretch-to-fill;
    -unity-background-image-tint-color: rgba(255, 255, 255, 1.000);
}
.game-loading-form__labeltmp4 {
    position: absolute;
    left: 0;
    margin-left: 0;
    top: 0;
    margin-top: 0;
    right: 0;
    margin-right: 0;
    bottom: 0;
    margin-bottom: 0;
    -unity-text-align: middle-center;
    font-size: 50px;
    color: rgba(255, 255, 255, 1.000);
    white-space: nowrap;
    translate: -50% -50%;
    -unity-font: url("../Fonts/pingfangsc-medium.ttf");
}
.game-loading-form__hinticon2 {
    position: absolute;
    left: 50%;
    margin-left: -120px;
    top: 50%;
    margin-top: -456px;
    margin-right: 0;
    width: 240px;
    margin-bottom: 0;
    height: 240px;
    background-image: url("../Textures/LoadingForm/hinticon2.png");
    -unity-background-scale-mode: stretch-to-fill;
    -unity-background-image-tint-color: rgba(255, 255, 255, 1.000);
}
.game-loading-form__filecorruptedpage-button2 {
    position: absolute;
    left: 50%;
    margin-left: -393.5px;
    top: 50%;
    margin-top: 404.6px;
    margin-right: 0;
    width: 765px;
    margin-bottom: 0;
    height: 90.8px;
    padding: 0;
    border-width: 0;
    min-width: 0;
    min-height: 0;
    background-color: rgba(0, 0, 0, 0);
    background-color: rgba(255, 255, 255, 1.000);
}
.game-loading-form__labeltmp5 {
    position: absolute;
    left: 0;
    margin-left: 0;
    top: 0;
    margin-top: 0;
    right: 0;
    margin-right: 0;
    bottom: 0;
    margin-bottom: 0;
    -unity-text-align: middle-center;
    font-size: 45px;
    color: rgba(0, 0, 0, 0.588);
    white-space: nowrap;
    translate: -50% -50%;
    -unity-font: url("../Fonts/pingfangsc-medium.ttf");
}
.game-loading-form__storage-fullstoragepage {
    position: absolute;
    left: 50%;
    margin-left: -466.5px;
    top: 100%;
    margin-top: -1173px;
    margin-right: 0;
    width: 933px;
    margin-bottom: 0;
    height: 1023px;
    display: none;
    background-image: url("../Textures/LoadingForm/storage-fullstoragepage.png");
    -unity-background-scale-mode: stretch-to-fill;
    -unity-background-image-tint-color: rgba(255, 255, 255, 1.000);
}
.game-loading-form__labeltitle3 {
    position: absolute;
    left: 50%;
    margin-left: -169.52px;
    top: 50%;
    margin-top: -76.48px;
    margin-right: 0;
    width: 339.04px;
    margin-bottom: 0;
    height: 76.48px;
    -unity-text-align: middle-center;
    font-size: 66px;
    color: rgba(0, 0, 0, 1.000);
    white-space: normal;
    -unity-font: url("../Fonts/pingfangsc-medium.ttf");
}
.game-loading-form__labelinfo3 {
    position: absolute;
    left: 50%;
    margin-left: -372.5px;
    top: 50%;
    margin-top: 55.55px;
    margin-right: 0;
    width: 765px;
    margin-bottom: 0;
    height: 174.89px;
    -unity-text-align: upper-center;
    font-size: 39px;
    color: rgba(0, 0, 0, 1.000);
    white-space: normal;
    -unity-font: url("../Fonts/pingfangsc-medium.ttf");
}
.game-loading-form__storage-fullstoragepage-button {
    position: absolute;
    left: 50%;
    margin-left: -372.5px;
    top: 50%;
    margin-top: 278px;
    margin-right: 0;
    width: 765px;
    margin-bottom: 0;
    height: 156px;
    padding: 0;
    border-width: 0;
    min-width: 0;
    min-height: 0;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../Textures/LoadingForm/storage-fullstoragepage-button.png");
    -unity-background-scale-mode: stretch-to-fill;
    -unity-background-image-tint-color: rgba(255, 255, 255, 1.000);
}
.game-loading-form__labeltmp6 {
    position: absolute;
    left: 0;
    margin-left: 0;
    top: 0;
    margin-top: 0;
    right: 0;
    margin-right: 0;
    bottom: 0;
    margin-bottom: 0;
    -unity-text-align: middle-center;
    font-size: 50px;
    color: rgba(255, 255, 255, 1.000);
    white-space: nowrap;
    translate: -50% -50%;
    -unity-font: url("../Fonts/pingfangsc-medium.ttf");
}
.game-loading-form__hinticon3 {
    position: absolute;
    left: 50%;
    margin-left: -120px;
    top: 50%;
    margin-top: -389px;
    margin-right: 0;
    width: 240px;
    margin-bottom: 0;
    height: 240px;
    background-image: url("../Textures/LoadingForm/hinticon3.png");
    -unity-background-scale-mode: stretch-to-fill;
    -unity-background-image-tint-color: rgba(255, 255, 255, 1.000);
}
.game-loading-form__wifidatainusepage {
    position: absolute;
    left: 50%;
    margin-left: -466.5px;
    top: 100%;
    margin-top: -1203px;
    margin-right: 0;
    width: 933px;
    margin-bottom: 0;
    height: 1083px;
    display: none;
    background-image: url("../Textures/LoadingForm/wifidatainusepage.png");
    -unity-background-scale-mode: stretch-to-fill;
    -unity-background-image-tint-color: rgba(255, 255, 255, 1.000);
}
.game-loading-form__wifidatainusepage-button {
    position: absolute;
    left: 50%;
    margin-left: -393.5px;
    top: 50%;
    margin-top: 374.6px;
    margin-right: 0;
    width: 765px;
    margin-bottom: 0;
    height: 90.8px;
    padding: 0;
    border-width: 0;
    min-width: 0;
    min-height: 0;
    background-color: rgba(0, 0, 0, 0);
    background-color: rgba(255, 255, 255, 1.000);
}
.game-loading-form__labeltmp7 {
    position: absolute;
    left: 0;
    margin-left: 0;
    top: 0;
    margin-top: 0;
    right: 0;
    margin-right: 0;
    bottom: 0;
    margin-bottom: 0;
    -unity-text-align: middle-center;
    font-size: 45px;
    color: rgba(0, 0, 0, 0.588);
    white-space: nowrap;
    translate: -50% -50%;
    -unity-font: url("../Fonts/pingfangsc-medium.ttf");
}
.game-loading-form__hinticon4 {
    position: absolute;
    left: 50%;
    margin-left: -120px;
    top: 50%;
    margin-top: -426px;
    margin-right: 0;
    width: 240px;
    margin-bottom: 0;
    height: 240px;
    background-image: url("../Textures/LoadingForm/hinticon4.png");
    -unity-background-scale-mode: stretch-to-fill;
    -unity-background-image-tint-color: rgba(255, 255, 255, 1.000);
}
.game-loading-form__labeltitle4 {
    position: absolute;
    left: 50%;
    margin-left: -169.52px;
    top: 50%;
    margin-top: -104.24px;
    margin-right: 0;
    width: 339.04px;
    margin-bottom: 0;
    height: 76.48px;
    -unity-text-align: middle-center;
    font-size: 66px;
    color: rgba(0, 0, 0, 1.000);
    white-space: normal;
    -unity-font: url("../Fonts/pingfangsc-medium.ttf");
}
.game-loading-form__wifidatainusepage-button2 {
    position: absolute;
    left: 50%;
    margin-left: -393.5px;
    top: 50%;
    margin-top: 204px;
    margin-right: 0;
    width: 765px;
    margin-bottom: 0;
    height: 156px;
    padding: 0;
    border-width: 0;
    min-width: 0;
    min-height: 0;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../Textures/LoadingForm/wifidatainusepage-button2.png");
    -unity-background-scale-mode: stretch-to-fill;
    -unity-background-image-tint-color: rgba(255, 255, 255, 1.000);
}
.game-loading-form__labeltmp8 {
    position: absolute;
    left: 0;
    margin-left: 0;
    top: 0;
    margin-top: 0;
    right: 0;
    margin-right: 0;
    bottom: 0;
    margin-bottom: 0;
    -unity-text-align: middle-center;
    font-size: 50px;
    color: rgba(255, 255, 255, 1.000);
    white-space: nowrap;
    translate: -50% -50%;
    -unity-font: url("../Fonts/pingfangsc-medium.ttf");
}
.game-loading-form__labelinfo4 {
    position: absolute;
    left: 50%;
    margin-left: -393.5px;
    top: 50%;
    margin-top: 31.54px;
    margin-right: 0;
    width: 765px;
    margin-bottom: 0;
    height: 114.92px;
    -unity-text-align: upper-left;
    font-size: 39px;
    color: rgba(0, 0, 0, 1.000);
    white-space: normal;
    -unity-font: url("../Fonts/pingfangsc-medium.ttf");
}
.game-loading-form__background2 {
    position: absolute;
    left: 0;
    margin-left: 0;
    top: 0;
    margin-top: 0;
    right: 0;
    margin-right: 0;
    bottom: 0;
    margin-bottom: 0;
    background-color: rgba(255, 0, 0, 1.000);
}
.game-loading-form__title {
    position: absolute;
    left: 50%;
    margin-left: -433px;
    top: 0;
    margin-top: 480px;
    margin-right: 0;
    width: 867px;
    margin-bottom: 0;
    height: 240px;
    background-image: url("../Textures/LoadingForm/title.png");
    -unity-background-scale-mode: stretch-to-fill;
    -unity-background-image-tint-color: rgba(255, 255, 255, 1.000);
}
.game-loading-form__logo {
    position: absolute;
    left: 50%;
    margin-left: -433px;
    top: 100%;
    margin-top: -390px;
    margin-right: 0;
    width: 867px;
    margin-bottom: 0;
    height: 150px;
    background-image: url("../Textures/LoadingForm/logo.png");
    -unity-background-scale-mode: stretch-to-fill;
    -unity-background-image-tint-color: rgba(255, 255, 255, 1.000);
}
.game-loading-form__uiloading {
    position: absolute;
    left: 0;
    margin-left: 0;
    top: 0;
    margin-top: 0;
    right: 0;
    margin-right: 0;
    bottom: 0;
    margin-bottom: 0;
    picking-mode: Ignore;
}
.game-loading-form__sliderprogress-slider {
    position: absolute;
    left: 50%;
    margin-left: -442px;
    top: 100%;
    margin-top: -154px;
    margin-right: 0;
    width: 885px;
    margin-bottom: 0;
    height: 12px;
}
.game-loading-form__background {
    position: absolute;
    left: 0;
    margin-left: 0;
    top: 0;
    margin-top: 0;
    right: 0;
    margin-right: 0;
    bottom: 0;
    margin-bottom: 0;
    background-image: url("../Textures/LoadingForm/background.png");
    -unity-background-scale-mode: stretch-to-fill;
    -unity-background-image-tint-color: rgba(255, 255, 255, 0.200);
}
.game-loading-form__handleslidearea {
    position: absolute;
    left: 0;
    margin-left: 0;
    top: 0;
    margin-top: 0;
    right: 0;
    margin-right: 0;
    bottom: 0;
    margin-bottom: 0;
    picking-mode: Ignore;
}
.game-loading-form__handle {
    position: absolute;
    left: 0;
    margin-left: -48px;
    top: 100%;
    margin-top: -48.5px;
    margin-right: 0;
    width: 96px;
    margin-bottom: 0;
    height: 84px;
    display: none;
    background-color: rgba(255, 255, 255, 1.000);
}
.game-loading-form__fillarea {
    position: absolute;
    left: 0;
    margin-left: 0;
    top: 0;
    margin-top: 0;
    right: 0;
    margin-right: 0;
    bottom: 0;
    margin-bottom: 0;
    picking-mode: Ignore;
}
.game-loading-form__fill {
    position: absolute;
    left: 0;
    margin-left: 0;
    top: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    background-image: url("../Textures/LoadingForm/fill.png");
    -unity-background-scale-mode: stretch-to-fill;
    -unity-background-image-tint-color: rgba(255, 255, 255, 1.000);
}
.game-loading-form__lower {
    position: absolute;
    left: 50%;
    margin-left: -439px;
    top: 100%;
    margin-top: -129px;
    margin-right: 0;
    width: 882px;
    margin-bottom: 0;
    height: 48px;
    display: none;
    picking-mode: Ignore;
}
.game-loading-form__lower2 {
    position: absolute;
    left: 50%;
    margin-left: -55.26px;
    top: 0;
    margin-top: 0;
    margin-right: 0;
    width: 87.21px;
    bottom: 0;
    margin-bottom: 0;
    -unity-text-align: middle-left;
    font-size: 24px;
    color: rgba(135, 135, 145, 1.000);
    white-space: normal;
    -unity-font: url("../Fonts/pingfangsc-medium.ttf");
}
.game-loading-form__labeldownloadedsize {
    position: absolute;
    left: 50%;
    margin-left: -187.6px;
    top: 0;
    margin-top: 0;
    margin-right: 0;
    width: 41.21px;
    bottom: 0;
    margin-bottom: 0;
    -unity-text-align: middle-right;
    font-size: 24px;
    color: rgba(0, 163, 117, 1.000);
    white-space: normal;
    -unity-font: url("../Fonts/pingfangsc-medium.ttf");
}
.game-loading-form__lower3 {
    position: absolute;
    left: 50%;
    margin-left: -441px;
    top: 0;
    margin-top: 0;
    margin-right: 0;
    width: 274.74px;
    bottom: 0;
    margin-bottom: 0;
    -unity-text-align: middle-left;
    font-size: 24px;
    color: rgba(135, 135, 145, 1.000);
    white-space: normal;
    -unity-font: url("../Fonts/pingfangsc-medium.ttf");
}
.game-loading-form__labeldownloadspeed {
    position: absolute;
    left: 50%;
    margin-left: 31.95px;
    top: 0;
    margin-top: 0;
    margin-right: 0;
    width: 159.77px;
    bottom: 0;
    margin-bottom: 0;
    -unity-text-align: middle-left;
    font-size: 24px;
    color: rgba(135, 135, 145, 1.000);
    white-space: normal;
    -unity-font: url("../Fonts/pingfangsc-medium.ttf");
}
.game-loading-form__middleline {
    position: absolute;
    left: 50%;
    margin-left: -108.4px;
    top: 0;
    margin-top: 0;
    margin-right: 0;
    width: 46.79px;
    bottom: 0;
    margin-bottom: 0;
    -unity-text-align: middle-left;
    font-size: 24px;
    color: rgba(135, 135, 145, 1.000);
    white-space: normal;
    -unity-font: url("../Fonts/pingfangsc-medium.ttf");
}
.game-loading-form__lower4 {
    position: absolute;
    left: 50%;
    margin-left: -144.34px;
    top: 0;
    margin-top: 0;
    margin-right: 0;
    width: 46.79px;
    bottom: 0;
    margin-bottom: 0;
    -unity-text-align: middle-left;
    font-size: 24px;
    color: rgba(0, 163, 117, 1.000);
    white-space: normal;
    -unity-font: url("../Fonts/pingfangsc-medium.ttf");
}
.game-loading-form__labeltotalsize {
    position: absolute;
    left: 50%;
    margin-left: -100.14px;
    top: 0;
    margin-top: 0;
    margin-right: 0;
    width: 42.29px;
    bottom: 0;
    margin-bottom: 0;
    -unity-text-align: middle-right;
    font-size: 24px;
    color: rgba(135, 135, 145, 1.000);
    white-space: normal;
    -unity-font: url("../Fonts/pingfangsc-medium.ttf");
}
.game-loading-form__upper {
    position: absolute;
    left: 50%;
    margin-left: -439px;
    top: 100%;
    margin-top: -226px;
    margin-right: 0;
    width: 882px;
    margin-bottom: 0;
    height: 48px;
    display: none;
    picking-mode: Ignore;
}
.game-loading-form__upper2 {
    position: absolute;
    left: 50%;
    margin-left: 84.27px;
    top: 0;
    margin-top: 0;
    margin-right: 0;
    width: 356.73px;
    bottom: 0;
    margin-bottom: 0;
    -unity-text-align: middle-right;
    font-size: 24px;
    color: rgba(135, 135, 145, 1.000);
    white-space: normal;
    -unity-font: url("../Fonts/pingfangsc-medium.ttf");
}
.game-loading-form__hint {
    position: absolute;
    left: 50%;
    margin-left: -441px;
    top: 0;
    margin-top: 0;
    margin-right: 0;
    width: 48px;
    bottom: 0;
    margin-bottom: 0;
    background-image: url("../Textures/LoadingForm/hint.png");
    -unity-background-scale-mode: stretch-to-fill;
    -unity-background-image-tint-color: rgba(255, 255, 255, 1.000);
}
.game-loading-form__hint2 {
    position: absolute;
    left: 100%;
    margin-left: 4.85px;
    top: 0;
    margin-top: 0;
    margin-right: 0;
    width: 496.47px;
    bottom: 0;
    margin-bottom: 0;
    -unity-text-align: middle-left;
    font-size: 36px;
    color: rgba(255, 255, 255, 1.000);
    white-space: normal;
    -unity-font: url("../Fonts/pingfangsc-medium.ttf");
}
.game-loading-form__labelremainingtime {
    position: absolute;
    left: 50%;
    margin-left: 360.14px;
    top: 0;
    margin-top: 0;
    margin-right: 0;
    width: 31.55px;
    bottom: 0;
    margin-bottom: 0;
    -unity-text-align: middle-right;
    font-size: 24px;
    color: rgba(135, 135, 145, 1.000);
    white-space: normal;
    -unity-font: url("../Fonts/pingfangsc-medium.ttf");
}
.game-loading-form__upper3 {
    position: absolute;
    left: 50%;
    margin-left: 204.95px;
    top: 0;
    margin-top: 0;
    margin-right: 0;
    width: 168.9px;
    bottom: 0;
    margin-bottom: 0;
    -unity-text-align: middle-right;
    font-size: 24px;
    color: rgba(135, 135, 145, 1.000);
    white-space: normal;
    -unity-font: url("../Fonts/pingfangsc-medium.ttf");
}
.game-loading-form__labeltitle5 {
    position: absolute;
    left: 50%;
    margin-left: -439px;
    top: 100%;
    margin-top: -239px;
    margin-right: 0;
    width: 479px;
    margin-bottom: 0;
    height: 50px;
    display: none;
    -unity-text-align: upper-left;
    font-size: 36px;
    color: rgba(99, 99, 99, 1.000);
    white-space: normal;
    -unity-font: url("../Fonts/pingfangsc-medium.ttf");
}
.game-loading-form__labelprogress {
    position: absolute;
    left: 50%;
    margin-left: 40px;
    top: 100%;
    margin-top: -239px;
    margin-right: 0;
    width: 400px;
    margin-bottom: 0;
    height: 50px;
    display: none;
    -unity-text-align: upper-right;
    font-size: 36px;
    color: rgba(99, 99, 99, 1.000);
    white-space: normal;
    -unity-font: url("../Fonts/pingfangsc-medium.ttf");
}
.game-loading-form__bankupdatevideo {
    position: absolute;
    left: 0;
    margin-left: 0;
    top: 0;
    margin-top: 0;
    right: 0;
    margin-right: 0;
    bottom: 0;
    margin-bottom: 0;
    background-image: url("../Textures/LoadingForm/bankupdatevideo.renderTexture");
    -unity-background-scale-mode: stretch-to-fill;
    -unity-background-image-tint-color: rgba(255, 255, 255, 1.000);
}
.game-loading-form__bankupdatebackground {
    position: absolute;
    left: 0;
    margin-left: 0;
    top: 0;
    margin-top: 0;
    right: 0;
    margin-right: 0;
    bottom: 0;
    margin-bottom: 0;
    background-image: url("../Textures/LoadingForm/bankupdatebackground.png");
    -unity-background-scale-mode: stretch-to-fill;
    -unity-background-image-tint-color: rgba(255, 255, 255, 1.000);
}

.game-loading-form__campfire-still,
.game-loading-form__campfire-video {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -unity-background-scale-mode: scale-and-crop;
}
.game-loading-form__campfire-video {
    picking-mode: Ignore;
}
.game-loading-form__enter-island-button {
    position: absolute;
    left: 50%;
    bottom: 180px;
    width: 420px;
    height: 120px;
    translate: -50% 0;
    font-size: 42px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.45);
    border-width: 0;
    -unity-font: url("../Fonts/pingfangsc-medium.ttf");
}
