.game-mobile-data-form__root {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.game-mobile-data-form__mobile-datainusepage {
    position: absolute;
    left: 50%;
    margin-left: -466.5px;
    top: 100%;
    margin-top: -1203px;
    margin-right: 0;
    width: 933px;
    margin-bottom: 0;
    height: 1083px;
    background-image: url("../Textures/MobileDataForm/mobile-datainusepage.png");
    -unity-background-scale-mode: stretch-to-fill;
    -unity-background-image-tint-color: rgba(255, 255, 255, 1.000);
}
.game-mobile-data-form__labelinfo {
    position: absolute;
    left: 50%;
    margin-left: -393.5px;
    top: 50%;
    margin-top: 31.54px;
    margin-right: 0;
    width: 765px;
    margin-bottom: 0;
    height: 114.92px;
    -unity-text-align: upper-left;
    font-size: 39px;
    color: rgba(0, 0, 0, 1.000);
    white-space: normal;
    -unity-font: url("../Fonts/pingfangsc-medium.ttf");
}
.game-mobile-data-form__labeltitle {
    position: absolute;
    left: 50%;
    margin-left: -438px;
    top: 50%;
    margin-top: -105.24px;
    margin-right: 0;
    width: 876px;
    margin-bottom: 0;
    height: 76.48px;
    -unity-text-align: middle-center;
    font-size: 66px;
    color: rgba(0, 0, 0, 1.000);
    white-space: normal;
    -unity-font: url("../Fonts/pingfangsc-medium.ttf");
}
.game-mobile-data-form__hinticon {
    position: absolute;
    left: 50%;
    margin-left: -128px;
    top: 50%;
    margin-top: -434px;
    margin-right: 0;
    width: 256px;
    margin-bottom: 0;
    height: 256px;
    background-image: url("../Textures/MobileDataForm/hinticon.png");
    -unity-background-scale-mode: stretch-to-fill;
    -unity-background-image-tint-color: rgba(255, 255, 255, 1.000);
}
.game-mobile-data-form__mobile-datainusepage-button {
    position: absolute;
    left: 50%;
    margin-left: -393.5px;
    top: 50%;
    margin-top: 204px;
    margin-right: 0;
    width: 765px;
    margin-bottom: 0;
    height: 156px;
    padding: 0;
    border-width: 0;
    min-width: 0;
    min-height: 0;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../Textures/MobileDataForm/mobile-datainusepage-button.png");
    -unity-background-scale-mode: stretch-to-fill;
    -unity-background-image-tint-color: rgba(255, 255, 255, 1.000);
}
.game-mobile-data-form__labeltmp {
    position: absolute;
    left: 0;
    margin-left: 0;
    top: 0;
    margin-top: 0;
    right: 0;
    margin-right: 0;
    bottom: 0;
    margin-bottom: 0;
    -unity-text-align: middle-center;
    font-size: 50px;
    color: rgba(255, 255, 255, 1.000);
    white-space: nowrap;
    translate: -50% -50%;
    -unity-font: url("../Fonts/pingfangsc-medium.ttf");
}
.game-mobile-data-form__mobile-datainusepage-button2 {
    position: absolute;
    left: 50%;
    margin-left: -393.5px;
    top: 50%;
    margin-top: 374.6px;
    margin-right: 0;
    width: 765px;
    margin-bottom: 0;
    height: 90.8px;
    padding: 0;
    border-width: 0;
    min-width: 0;
    min-height: 0;
    background-color: rgba(0, 0, 0, 0);
    background-color: rgba(255, 255, 255, 1.000);
}
.game-mobile-data-form__labeltmp2 {
    position: absolute;
    left: 0;
    margin-left: 0;
    top: 0;
    margin-top: 0;
    right: 0;
    margin-right: 0;
    bottom: 0;
    margin-bottom: 0;
    -unity-text-align: middle-center;
    font-size: 45px;
    color: rgba(0, 0, 0, 0.588);
    white-space: nowrap;
    translate: -50% -50%;
    -unity-font: url("../Fonts/pingfangsc-medium.ttf");
}
.game-mobile-data-form__ingamemobile-dataview {
    position: absolute;
    left: 0;
    margin-left: 0;
    top: 0;
    margin-top: 0;
    right: 0;
    margin-right: 0;
    bottom: 0;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.800);
}
